<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".WearableMonitorApp"
        android:allowBackup="true"
        android:icon="@mipmap/wearable_monitor_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wearable_monitor_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiabetesMonitor">

        <activity
            android:name=".feature_glucose.presentation.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CarUi.WithToolbar">

            <meta-data
                android:name="distractionOptimized"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".feature_glucose.presentation.settings.WearableSettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:theme="@style/Theme.CarUi.WithToolbar">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".service.ServiceStarter"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.NotificationService"
            android:enabled="true" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>